# ─────────────────────────────────────────
# AWS / LocalStack
# ─────────────────────────────────────────
AWS_ENDPOINT=http://localhost:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# ─────────────────────────────────────────
# Order Service
# ─────────────────────────────────────────
ORDER_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/order_db
ORDER_SERVICE_PORT=3001

# ─────────────────────────────────────────
# Payment Service
# ─────────────────────────────────────────
PAYMENT_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/payment_db
PAYMENT_SERVICE_PORT=3002

# ─────────────────────────────────────────
# Inventory Service
# ─────────────────────────────────────────
INVENTORY_DATABASE_URL=postgresql://postgres:postgres@localhost:5434/inventory_db
INVENTORY_SERVICE_PORT=3003

# ─────────────────────────────────────────
# Notification Service
# ─────────────────────────────────────────
NOTIFICATION_DATABASE_URL=postgresql://postgres:postgres@localhost:5435/notification_db
NOTIFICATION_SERVICE_PORT=3004
